/* Variables for the application */

/* Color codes */
$primary-color: #4B0082;
$grey-text-color: #6e6e6e;
$white-color: #fff;
$black-color: #000;
$alert-color: #3c763d;
$alert-danger-color: #a94442;
$page-bg-color: #ccc;
$border-color: #D8D8D8;
$error-color: #ff0000;

/* Opacity codes */
$opaq-0: 0;
$opaq-10: 0.1;
$opaq-20: 0.2;
$opaq-30: 0.3;
$opaq-40: 0.4;
$opaq-50: 0.5;
$opaq-60: 0.6;
$opaq-70: 0.7;
$opaq-80: 0.8;
$opaq-90: 0.9;
$opaq-100: 1;

/* Value */
$page-min-height: 100vh;
